{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <nav class="flex justify-evenly items-center px-6 py-3 bg-blue-600 text-white w-1/2 mx-auto">
        <a class="hover:underline" href="{{ path('home') }}">
            <span>{{ 'home'|trans }}</span>
        </a>
        <a class="hover:underline" href="{{ path('app_logout') }}">
            <span>{{ 'logout'|trans }}</span>
        </a>
        <a class="hover:underline" href="{{ path('change_locale') }}">
            <span>{{ 'locale.switch'|trans }}</span>
        </a>
    </nav>

<div class="w-1/2 mx-auto">
    <div class="text-center mt-24">
        <span class="text-6xl font-semibold">TODO</span>
        <p class="font-light mt-6">{{ 'totalBalance'|trans }}</p>
    </div>
    {% include('home/_components/_chronologic_history.html.twig') %}
    {% include('home/_components/_list_cryptos.html.twig') %}
</div>
{% endblock %}
