<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">

        <title>
            {% block title %}Welcome!{% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('appcss') }}
        {% endblock %}
    </head>
    <body>

    {% if app.user %}
        {% if not app.user.verified %}
            <div class="flex items-center justify-center" role="alert">
                <p class="flex items-center bg-red-500 text-white text-sm font-light px-4 py-3 rounded">
                    {{ source('@public_path'~asset('icons/error.svg')) }}
                    <span>
                        You're now logged in as a non-verified user. Please confirm your email now or you will not be able to log in again.
                        <a class="font-semibold underline" href="{{ path('app_confirmation_email') }}">Resend confirmation link.</a>
                    </span>
                </p>
            </div>
        {% endif %}
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flex items-center justify-center" role="alert">
                <p class="flex items-center text-sm flash-{{ label }} font-light px-4 py-3 rounded">
                    {{ source('@public_path'~asset('icons/'~label~'.svg')) }}
                    <span>{{ message }}</span>
                </p>
            </div>
        {% endfor %}
    {% endfor %}

    <span class="my-4"></span>

    {% block body %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('appjs') }}
        {% endblock %}
    </body>
</html>
